root = true

[*]
charset = utf-8
end_of_line = lf

[*.cpp]
indent_size = 4
indent_style = space
insert_final_newline = true
tab_width = 4

[*.hpp]
indent_size = 4
indent_style = space
insert_final_newline = true
tab_width = 4

[meson.build]
indent_size = 2
indent_style = space
insert_final_newline = true
tab_width = 2
